<div class="container">
  <nav class="p-2 m-2 border border-info">
    <button *ngIf="authService.hasRole('ADMIN')" class="btn btn btn-outline-info" (click)="handleNewAgent()"> Créer un Agent </button>
  </nav>
<ng-template #errors>
  <div class="text-danger">{{errorMessage}}</div>
</ng-template>
  <div class="card" *ngIf="agent, else errors">
    <div class="card-header"> Liste des Agents</div>
    <div class="card-body"> 

      <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchAgent()">
        <div class="input-group">
          <label class="input-group-text"> Recherche </label>
          <input type="text" class="form-control" formControlName="keyword">
          <button class="btn btn-info " >
            <i class="bi bi-search"></i>
          </button>
          
        </div>
      </form>
        <table class="table"> 
         <thead>
            <tr>
                <th> ID</th> <th>Nom</th> <th>Prenom</th> <th>Email</th> <th> Telephone</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let p of agent">
                <td>{{p.id}}</td>
                <td>{{p.Name}}</td>
                <td>{{p.Prenom}}</td>
                <td>{{p.Email}}</td>
                <td>{{p.Telephone}}</td>
                <td *ngIf="authService!.hasRole('ADMIN')">
                <button (click)="handleDeleteAgent(p)"class="btn btn-danger">
                    <i class="bi bi-trash"></i>
                </button>
                </td>

                <td *ngIf="authService!.hasRole('ADMIN')">
                  <button (click)="handleEditAgent(p)"class="btn btn-success">
                      <i class="bi bi-file"></i>
                  </button>
                  </td>

            </tr>
         </tbody>

        </table>
        <ul class="nav nav-pills">
          <li *ngFor="let item of [].constructor(this.totalPages);let i=index">
            <a (click)="gotopage(i)" [ngClass]="i==currentPage?'btn-info':'btn-outline-info'" class="btn ms-1 mt-1">{{i}}</a>
          </li>
        </ul>
    </div>
  </div>

</div>
